node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# React Native
android/app/build/
android/.gradle/
android/build/
android/local.properties
android/.idea/
android/*.iml

# Metro + Expo
.expo/
.expo-shared/
.metro-health-check*

# Env
.env
.env.*

# OS/editor
.DS_Store
Thumbs.db
.idea/
*.swp
*.swo
